/* src/components/styles.css */


.light_theme {
  color: black;
  background-color: white;
  width: 100%;
  margin: 45px 0px;
  padding: 150px 0px;
  font-size: 45px;
}

.dark_theme {
  color: white;
  background-color: black;
  width: 100%;
  margin: 45px 0px;
  padding: 150px 0px;
  font-size: 40px;
}


.counter-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 20px; /* Space between buttons */
}

.counter-buttons button {
  font-size: 18px;
  padding: 12px 25px;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
  cursor: pointer;
}

.counter-buttons .btn-success {
  background-color: #28a745;
  color: white;
}

.counter-buttons .btn-success:hover {
  background-color: #218838;
  transform: scale(1.05);
}

.counter-buttons .btn-danger {
  background-color: #dc3545;
  color: white;
}

.counter-buttons .btn-danger:hover {
  background-color: #c82333;
  transform: scale(1.05);
}
